<%- include('./partials/header.ejs')%>
<div class="container" style="width: 50%;">
<h1>HomePage  !</h1>
<li><a href="/register">SignUp</a></li>
<li><a href="/login">Login</a></li>
<%- include('./partials/footer.ejs')%>
</div>