<%- include('./partials/header.ejs')%>

<div class="container" style="width: 50%; margin-top: 70px">
<h1>Welcome User :)</h1>
<li><a href="/logout">Log me out</a></li>
</div>
<%- include('./partials/footer.ejs')%>